* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

:root{
  --geral:#FFFFFF ;
  --bg:#0B0B0C;
  --transparent:#121214;
  --input: #9466FF;
}

body {
  background-color: var(--bg);
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.container{
  height: 100vh;
  display: grid;
  place-content: center;
}

.card{
  background-color:var(--transparent) ;
  border: 1px solid #625f67;
  padding: 2rem;
  border-radius: 10px;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom:1px solid var(--input);
}

.input-wrapper{
  margin-bottom: 1rem;
}

form label{
  font-size: 1rem;
  color: #625f67;
  margin: .2rem 0;
  display: block;
}

input{
  width: 100%;
  background-color: var(--transparent);
  color: var(--geral);
  padding: .5rem .3rem;
  border: 1px solid #625f67;
}

 form button{
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--input);
  color: #FFFFFF;
  padding: .8rem;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
}

button:hover{
  background-color: var(--input);
}

@media(max-width:452){
  .container{
    height: 70vh;
  }

  .card{
    margin: 2rem;
  }
}

/*modal*/

.modal-wrapper.open{
  opacity:1 ;
  visibility: visible ;
}

.modal-wrapper{
  position: absolute;
  inset: 0;
  background-color: #9466ff2a;

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal{
  position: relative;
}

.modal button{
  background: none;
  border: none;
  color: var(--input);
  font-size: 1.8rem;
  position: absolute;
  top: .1rem;
  right: .5rem;

  cursor: pointer;
  transition: trasform .3s;
}

.modal button:hover{
  transform: scale(1.2);
}

/* alert error*/
.alert-error.open{
  visibility: visible;
  opacity: 1;
}
.alert-error{
  background-color: var(--input);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: .8rem 0;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-30);
  transition: transform .10s;
}